@import url('https://fonts.googleapis.com/css?family=Charmonman');


a.wedders {
    font-family: 'Charmonman', cursive;
    text-decoration: none;
    color: #cccccc;
    text-shadow: 2px 2px 3px dodgerblue;
    font-size: 26px;
}

a.wedders .and {
    font-family: 'Charmonman', cursive;
    text-decoration: none;
    color: dodgerblue;
    font-size: 20px;
}
td a:hover {
    border-bottom: none !important;
}
.row {
    margin: 5% 0 0 0;
}
h1.wedders-h1 {
    font-family: 'Charmonman', cursive;
    text-decoration: none;
    color: #777;
    text-shadow: 2px 2px 3px dodgerblue;
}
h1.wedders-h1 .and {
    font-family: 'Charmonman', cursive;
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
}